body {
  font-family: sans-serif;
  background: lightgray;
  counter-reset: page;
}

h2 {
  break-before: right;
}

@media print {
  body {
    background: white;
  }
}

@page {
  size: 5in 8in; // cnt change this
  margin-top: 0.25in;// u can change 
  margin-bottom: 0.5in;
}


.two-col {
  column-count: 2;
  column-gap: 2em;
}
@page:left {
  margin-left: 0.25in;
  margin-right: 1in;
  @bottom-left {
    content: counter(page);
  }
  @bottom-right {
    content:"What is a document?";
  }
}
@page:right {
  margin-left: 1in;
  margin-right: 0.25in;
  @bottom-left {
    content:"Chloe Nini";
  }
  @bottom-right {
    content: counter(page);
  }